<launch>
  <arg name="robot_name"  default="mobile_manipulator"/>
  <arg name="init_x_pos" default="0.0"/>
  <arg name="init_y_pos" default="0.0"/>
  <arg name="init_z_pos" default="0.0"/>
  <arg name="init_yaw"   default="0.0"/>

  <arg name="namespace" default="/mobile_manipulator_forklift" />
  <arg name="cmd_timeout" default="0.5"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="1.0" />
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>


  <!-- Load the robot description -->
  <param name="robot_description" command="$(find xacro)/xacro $(find forklift_project)/urdf/mobile_manipulator_forklift.urdf.xacro" />



 <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="100.0" />
    <param name="tf_prefix" value="mobile_manipulator" />
  </node> -->

  <!-- Load ros_control controller configuration parameters -->
  <rosparam file="$(find forklift_project)/config/ctrl_ackermann_steering_controller.yaml" command="load" ns="$(arg namespace)" />
  <rosparam file="$(find forklift_project)/config/joint_controller.yaml" command="load" ns="$(arg namespace)" />
  <rosparam file="$(find forklift_project)/config/ctrl_joint_state_publisher.yaml" command="load" ns="$(arg namespace)" />



  <!-- Spawn the controllers -->
  <node pkg="controller_manager" type="spawner" name="controller_spawner" ns="$(arg namespace)"
      args="joint_state_publisher ackermann_steering_controller joint_controller arm_base_controller link_1_controller link_2_controller link_3_controller link_4_controller link_5_controller"
      output="screen" respawn="false" />

    <!-- Launch  the robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
      <param name="publish_frequency" value="50.0"/>
  </node>


    <!-- Launch a rqt steering GUI for publishing to /steer_bot/ackermann_steering_controller/cmd_vel -->
    <!-- <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="rqt_robot_steering" >
        <param name="default_topic" value="$(arg namespace)/ackermann_steering_controller/cmd_vel"/>
    </node> -->

    <!-- Spawn robot in Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
      args="-urdf -model $(arg robot_name) -x $(arg init_x_pos) -y $(arg init_y_pos) -z $(arg init_z_pos) -Y $(arg init_yaw) -param robot_description" />

</launch>
